* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.row {
  margin: 8px -16px;
  margin-top: 70px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 2px;
  color: black;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: transparent;
  cursor: pointer;
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 1.5vw;
}
#buttonCover
{
  max-width: 21vw;
  position: relative;
  margin: auto;
}
/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

#myBtnContainer
{
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  margin-left: 52px;
}





#localList{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  display: flex;
  padding: 0;
  /*border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;*/
}
#localList li
{
  list-style: none;
  margin-bottom: -30px;
}


#localList li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
}
#localList li a:hover:before
{
  transform: scaleY(1);
  opacity: 1;
}



a {
  text-decoration: none;
  color: #000;
}
.active {
  background-color: #666;
  color: white;
}
p {
  text-align: left;
}

.popup {
  position: fixed;
  padding: 10px;;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
}
.popup .close:hover {
  color: #00E5EE;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup{  
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


/* Add a dark background color to the active button */
@media (min-width: 1200px )
{
  .column {
    float: left;
    width: 25%;
  }
  .popup{
    max-width: 500px;
    height: 720px;
    margin-top: 20px;
    overflow: auto
  }
  h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
  margin-bottom: 20px;
}
#localList li a
{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  transition: .5s;
  font-family: 'Play', sans-serif;
  font-size: 1.5vw;
}
img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
  .content h4 {
  font-size: 1.2vw;
}
  .content p {
    font-size: 0.8vw;
  }
}

@media (min-width: 767px )and (max-width: 1199px)
{
    /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  .popup{
    max-width: 500px;
    height: 720px;
    margin-top: 20px;
    overflow: auto
  }
  h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
  margin-bottom: 20px;
}
#localList li a
{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  transition: .5s;
  font-family: 'Play', sans-serif;
  font-size: 1.5vw;
}
img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.content h4 {
  font-size: 1.2vw;
}
.content p {
  font-size: 1vw;
}

}



@media (max-width: 767px)
{
    .popup{
    width: 90vw; 
    height: 540px;
    margin-top: 20px;
    overflow: auto
  }
  h1 {
  font-size: 40px;
  word-break: break-all;
  text-align: center;
  margin-bottom: 20px;
}
#localList li a
{
  position: relative;
  display: block;
  padding: 2vw 2vw;
  margin: 20px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  transition: .5s;
  font-family: 'Play', sans-serif;
  font-size: 2vw;
}
img:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
}
.content h4,p,h2 {
  text-align: center;
}

#Founders{
  display: block;
}
#Members ,#Committee,#Volunteers,#PastMembers,#Donors{
  display: none;
  margin-top: 100px;
}