* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  margin: 8px -16px;
  margin-top: 70px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 2px;
  color: black;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: transparent;
  cursor: pointer;
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 1.5vw;
}
#buttonCover
{
  max-width: 21vw;
  position: relative;
  margin: auto;
}
/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

#myBtnContainer
{
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  margin-left: 52px;
}





#localList{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  display: flex;
  padding: 0;
  /*border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;*/
}
#localList li
{
  list-style: none;
  margin-bottom: -30px;
}
#localList li a
{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  transition: .5s;
  font-family: 'Play', sans-serif;
  font-size: 1.5vw;
}

#localList li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
}
#localList li a:hover:before
{
  transform: scaleY(1);
  opacity: 1;
}

img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*pop Up*/
/* 
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}*/

a {
  text-decoration: none;
  color: #000;
}
p {
  text-align: left;
}

.popup {
  position: fixed;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
  
  height: 720px;
  margin-top: 20px;
  overflow: auto;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
}
.popup .close:hover {
  color: #00E5EE;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup{  
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


/* Add a dark background color to the active button */
@media (min-width: 767px)
{
    /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
}
@media (max-width: 767px)
{

}